server/.env
server/node_modules/
web/.env
web/node_modules/
web/.next/                # Existing Next.js builds
nginx/
LICENSE
README.md
.gitignore
.git/
.travis.yml
Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
docker-compose.*
